* {
	  margin: 0;
	  padding: 0;
    z-index: 1;
}

:root #dark {
    --primary-bg: #455a64;
    --secondary-bg: #616161;
    --accent-bg: #2d2d30;

    --accent-bright: #37474f;
    --accent-dim: #1f0a0a;

    --primary-text: #fff;
    --accent-text: var(--accent-bright);

    --btn-border: 1px solid var(--accent-text);
}

:root #light {
    --primary-bg: rgba(255, 255, 255, 0.25);
    --secondary-bg: #e4e5f1;
    --accent-bg: #9394a5;

    --accent-bright: #484b6a;
    --accent-dim: #9394a5;

    --primary-text: #000;
    --accent-text: #222222;

    --btn-border: 1px solid var(--accent-text);
}

