* {
	  margin: 0;
	  padding: 0;
    z-index: 1;
}

:root #dark {
    --primary-bg: #1d2b3a;
    --secondary-bg: #2d3b4a;
    --accent-bg: #1e1a2a;

    --accent-bright: #a96fb3;
    --accent-dim: #1f0a0a;

    --primary-text: #fff;
    --accent-text: var(--accent-bright);

    --btn-border: 1px solid var(--accent-text);
}

:root #light {
    --primary-bg: rgba(255, 255, 255, 0.25);
    --secondary-bg: #91bbe6;
    --accent-bg: #e0dbb4;

    --accent-bright: #ed5300;
    --accent-dim: #665738;

    --primary-text: #000;
    --accent-text: var(--accent-bright);

    --btn-border: 1px solid var(--accent-text);
}

