
.input-box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    font-family: 'Lora', sans-serif;
}

.input-box input {
    width: calc(100% - 1.6em);
    padding: 0.8em;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--accent-dim);
    border-radius: 0.4rem;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.input-box label {
    position: absolute;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

@media (min-width: 320px) {
    .input-box label {
        padding: 13%;
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    .input-box label {
        padding: 13%;
        font-size: 0.9em;
    }
}

@media (min-width: 1200px) {
    .input-box label {
        padding: 9%;
        font-size: 1em;
    }
}

.input-box input:valid,
.input-box input:focus {
    border: 1px solid var(--accent-text);
}

.input-box label:has(+ input:valid),
.input-box label:has(+ input:focus) {
    color: var(--accent-text);
    transform: translateX(20%) translateY(350%);
    font-size: 0.65em;
    text-shadow: 2px 2px 4px #000;
    padding: 0 10px;
    background: linear-gradient(to bottom, var(--accent-dim), var(--accent-dim) 50%, var(--primary-bg) 50%, var(--primary-bg));
}

