
.mask {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.drop-menu {
    all: initial;
    position: absolute;
    top: 6vh;
    right: 0;
    min-width: 80px;
    min-height: 150px;
    max-width: 250px;
    max-height: 200px;
    width: 10vw;
    height: 5vh;
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-bg);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 0.3s;

    .dmul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .dmli0, .dmli1, .dmli2, .dmli3 {
            width: 100%;
            height: 25%;
            display: flex;
            color: #000;
            justify-content: center;
            align-self: stretch;
            flex-wrap: wrap;
            align-content: center;
        }

        .dmli0 {
            transition: 0.3s calc(0.3s * 0);
        }

        .dmli1 {
            transition: 0.3s calc(0.3s * 1);
        }

        .dmli2 {
            transition: 0.3s calc(0.3s * 2);
        }

        .dmli3 {
            transition: 0.3s calc(0.3s * 3);
        }

        .dmli0:hover, .dmli1:hover, .dmli2:hover, .dmli3:hover {
            background: var(--secondary-bg);
        }

        .selected0, .selected1, .selected2, .selected3 {
            width: 100%;
            height: 25%;
            background: var(--accent-bright);
            display: flex;
            color: var(--primary-text);
            justify-content: center;
            align-self: stretch;
            flex-wrap: wrap;
            align-content: center;
        }

        .selected0 {
            transition: 0.3s calc(0.3s * 0);
        }

        .selected1 {
            transition: 0.3s calc(0.3s * 1);
        }

        .selected2 {
            transition: 0.3s calc(0.3s * 2);
        }

        .selected3 {
            transition: 0.3s calc(0.3s * 3);
        }

        .drop-menu .divider {
            background-color: var(--accent-text);
            transition: 0.3s;
        }
    }
}

.drop-menu:hover .divider {
    background-color: var(--primary-text);
    transition: 0.3s;
}

