
.container {
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.container:hover .preview {
    background-color: var(--secondary-bg);
}

.preview {
    width: 100%;
    height: 50px;
    background-color: transparent;
    transition: 0.3s ease;
}

.preview svg {
    width: 30px;
    height: 30px;
    margin-left: 1em;
    color: transparent;
    transform: translateY(-100%) rotate(-90deg);
    transition: 0.1s ease-in;
}

.preview:hover svg {
    color: var(--primary-text);
    transform: translateY(30%) rotate(90deg);
    transition: 0.3s ease-out;
}

.nav {
    width: 100%;
    max-height: 80px;
    height: 60px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--primary-bg), #2f2f2f);
    color: var(--primary-text);
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    transition: 0.3s;
}

.left {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left div {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    display: flex;
    align-self: stretch;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
}

.left div:first-of-type {
    cursor: pointer;
}

.left div:last-of-type {
    cursor: default;
}

.left svg {
    width: 30px;
    height: 30px;
    color: var(--primary-text);
    transform: rotate(-90deg);
    transition: 0.3s;
}

.left div:first-of-type:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.left div:first-of-type:hover svg {
    color: #000;
    transform: translateY(-20%) rotate(-90deg);
}

.right {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.right svg {
    width: 30px;
    height: 30px;
    color: var(--primary-text);
    transform: translateY(-0.3em);
    transition: 0.3s;
}

.right .nav-ul + nav:hover > div > svg {
    color: #000;
    transform: translateY(-0.75em);
}

.nav .nav-ul {
    margin: 0;
    margin-right: 1px;
    padding: 0;
    min-width: 10vw;
    max-width: 40vw;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right .nav-ul + nav {
    display: flex;
    min-width: 80px;
    max-width: 250px;
    width: 10vw;
    height: 100%;
    align-self: stretch;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.right .nav-ul > li:hover, .right .nav-ul + nav:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.nav .nav-ul .selected {
    width: 100%;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: flex-end;
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
    transition: 0.3s;
}

.nav .nav-li {
    width: 100%;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: flex-end;
    transition: 0.3s;
}

.nav .nav-li:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.nav .nav-li p {
    font: 1.2em sans-serif;
    color: #fff;
    transition: 0.3s;
}

.nav .nav-li:hover p {
    color: #000;
    transform: translateY(-10%);
}

