
.container {
    width: 100%;
    height: 50px;
    background-color: #00000000;
}

.container:hover .preview {
    background-color: #d8d8d8;
}

.preview {
    width: 100%;
    height: 50px;
    background-color: #00000000;
    transition: 0.3s ease;
}

.preview svg {
    width: 30px;
    height: 30px;
    margin-left: 1em;
    color: #00000000;
    transform: translateY(-100%) rotate(-90deg);
    transition: 0.1s ease-in;
}

.preview:hover svg {
    color: #000000;
    transform: translateY(30%) rotate(90deg);
    transition: 0.3s ease-out;
}

.nav {
    width: 100%;
    max-height: 80px;
    height: 60px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--primary-bg), #2f2f2f);
    color: var(--primary-text);
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    transition: 0.3s;
}

.left {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    display: flex;
    align-self: stretch;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.left svg {
    width: 30px;
    height: 30px;
    color: var(--primary-text);
    transform: rotate(-90deg);
    transition: 0.3s;
}

.left:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.left:hover svg {
    color: #000;
    transform: translateY(-20%) rotate(-90deg);
}

.right {
    display: flex;
}

.right svg {
    width: 30px;
    height: 30px;
    color: var(--primary-text);
    transform: translateY(0.75em);
    transition: 0.3s;
}

.right div:hover > svg {
    color: #000;
    transform: translateY(0.5em);
}

.nav .nav-ul {
    margin: 0;
    padding: 0;
    min-width: 10vw;
    max-width: 25vw;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right .nav-ul + div {
    display: flex;
    min-width: 10vw;
    max-width: 15vw;
    width: 10vw;
    height: 100%;
    align-self: stretch;
    justify-content: center;
    cursor: pointer;
}

.right .nav-ul:hover, .right .nav-ul + div:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.nav .nav-ul .selected {
    width: 100%;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: flex-end;
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
    transition: 0.3s;
}

.nav .nav-li {
    width: 100%;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: flex-end;
    transition: 0.3s;
}

.nav .nav-li:hover {
    background: linear-gradient(to bottom, #bbb, #ad82b5 80%, #ad82b5);
}

.nav .nav-li p {
    font: 1.2em sans-serif;
    color: #fff;
    transition: 0.3s;
}

.nav .nav-li:hover p {
    color: #000;
    transform: translateY(-10%);
}

.nav .divider {
    background-color: var(--accent-text);
    transition: 0.3s;
}

.nav:hover .divider {
    background-color: var(--primary-text);
    transition: 0.3s;
}

